body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --green: #438883;
    --lightGreen: #eef8f7;
    --gradientStart: #69aea9;
    --gradientEnd: #3f8782;
    --grey: #aaaaaa;
    --iconGreen: #549994;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.row {
    --bs-gutter-x: 0rem !important;
}
